table {
  border-collapse: collapse;
  background-color: lightcyan;
}

.table {
  border-style: 1px solid black;
}

.table th {
  border: 1px solid black;
  text-align: left;
}

.table td {
  border: 1px solid black;
}